/* Form styling for LogIn, SignUp, Contact, Manage page */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 90px;
  margin-bottom: 50px;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

/* Label styling for application */
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* Homepage heading style */
#homeHead {
  text-align: center;
  margin: 50px 0 20px;
}
/* Homepage main image styles */
#homeMedImg {
  margin-bottom: 40px;
}

/* Homepage offer image styles */
.offerImg {
  height: 70%;
  width: 100%;
}

/* Products page heading styling */
#productHeading {
  text-align: center;
  margin-top: 50px;
}

/* Products page table styling */
#productTable {
  margin-top: 20px;
  margin-bottom: 10px;
}

#productTableHeads {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Health Care Test Buttons styles */
#healthTestBtn {
  margin: 20px 15px 0;
}

#healthTestBtnTwo {
  margin: 15px;
}

/* Navbar Links styles */
/* Navbar Home, Products, Contact Us, Add Product styles */
.nav-links {
  margin: 14px 10px 0;
  color: white;
  text-decoration: none;
}

/* Navbar Health dropdown styles */
.nav-links-dropdown {
  margin-top: 6px;
}

/* Navbar Health dropdown elements styles */
.nav-dropdown-links {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0 0 15px;
}

/* Navbar SignUp, LogIn, Cart styles */
.nav-links-right {
  margin: 0px 10px 0;
  color: white;
  text-decoration: none;
}

/* Cart Page styles */
/* No items in the cart styles */
#cart-no-item-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
